@{
    var product = Model;
}



<div class="box-product">
    <div class="item-product">
        <a class="main-contain">
            <img class="item-img" src="~/@product.Product_Img8"/>
            <div class="item-wrap">
                <h3>@product.Product_Name (@product.Product_Detail chi tiết)</h3>
                <p class="item-price-current">@product.Product_Price đ</p>
                <div class="box-price">
                    <p class="item-price-old">@product.Product_Price_Old đ</p>
                    <span class="item-price-percent">@product.Product_Price_Percent%</span>
                </div>
            </div>
        </a>
        <button class="btn-buy">
            Chọn mua
        </button>
    </div>
</div>